@page "/todos"

@using Todododo.Views.Components

@inherits ToDosViewBase;

<h1>ToDos</h1>

@foreach (var result in ViewModel.Data)
{
    <TodoView ViewModel="@result" />
}


<Button Command="ViewModel.Add" Color="Color.Success" Outline="true">+ Add task</Button>

