@page "/todos"

@inherits ToDosViewBase;

<h1>ToDos</h1>

<Table Narrow="true">
    <TableBody>
        @foreach (var result in ViewModel.Data)
        {
        <TableRow>
            <TableRowCell><Check TValue="bool" @bind-Checked="@result.Completed">@result.Summary</Check></TableRowCell>
            <TableRowCell><Button Clicked="@Add" Outline="true">Edit</Button></TableRowCell>
        </TableRow>
        }
</TableBody>
</Table>

<Button Clicked="@Add" Color="Color.Success" Outline="true">+ Add task</Button>

